<!DOCTYPE html>
<html lang="en">
<head>
  <title>Task Slave Market</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">TSM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Play</a></li>
        <li><a href="/resume">Resume Game</a></li>
        <li><a href="/wiki">Wiki</a></li>
        <li><a href="/wall-of-shame">Wall Of Shame</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://discord.gg/CpK3QvnM"><span class="glyphicon glyphicon-log-in"></span> Discord</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome To The Task Slave Market</h1>
      <p> This is a kink game where you sell yourself to a shady ring of (digital) masters. Once you have given them control, they will give you tasks kinky tasks to complete. Fail to do their tasks and you will be punished! If this sound like something you would want to do, scroll down to get started. Questions? Ask in the discord!
      </p>
      <hr>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form method="post">
  <div class="form-group">
    <label for="dom_type" class="control-label">Dom Type</label> 
    <div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-25,50,0.5">
              Nice - 30m Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-50,100,1">
              Nice - 1h Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-75,150,2">
              Nice - 2h Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-15,50,0.5">
              Neutral - 30m Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-25,100,1">
              Neutral - 1h Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-30,150,2">
              Neutral - 2h Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-10,50,0.5">
              Mean - 30m Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-15,100,1">
              Mean - 1h Sessions
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dom_type" value="-25,150,2">
              Mean - 2h Sessions
        </label>
      </div> 
      <span id="dom_typeHelpBlock" class="help-block">How mean do you want your doms to be?</span>
    </div>
  </div>
  <div class="form-group">
    <label for="kinks" class="control-label">Kinks</label> 
    <div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="humiliation">
              Humiliation
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="pain">
              Pain
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="fuck">
              Penetration / Masturbation
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="bondage">
              Bondage
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="crossdressing">
              Cross dressing
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="public">
              Public Places (Stores, Parks, ...)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="protected">
              Semi-Public Places (Bathrooms, Changing Stalls, ...)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="private">
              Non-Public Places (Home, ...)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="piss">
              Piss
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="rape">
              Rape Risk
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="exposed">
              Full Exposure (Online and off-line exposure)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="psudo">
              Semi-Exposure (Online and risk of off-line exposure)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="hidden">
              No-Exposure (Your acts will be
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="kinks" value="alt">
              Prostate / Tit Orgasm
        </label>
      </div> 
      <span id="kinksHelpBlock" class="help-block">What are your kinks? (4 Min)</span>
    </div>
  </div>
  <div class="form-group">
    <label for="punishments" class="control-label">Punishments</label> 
    <div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="humiliation">
              Humiliation
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="pain">
              Pain
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="fuck">
              Penetration / Masturbation
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="bondage">
              Bondage
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="crossdressing">
              Cross dressing
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="public">
              Public Places (Stores, Parks, ...)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="protected">
              Semi-Public Places (Bathrooms, Changing Stalls, ...)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="private">
              Non-Public Places (Home, ...)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="piss">
              Piss
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="rape">
              Rape Risk
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="exposed">
              Full Exposure (Online and off-line exposure)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="psudo">
              Semi-Exposure (Online and risk of off-line exposure)
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="hidden">
              No-Exposure (Your acts will be
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="checkbox" name="punishments" value="alt">
              Prostate / Tit Orgasm
        </label>
      </div> 
      <span id="punishmentsHelpBlock" class="help-block">What type of tasks would be good punishments for you&gt;</span>
    </div>
  </div>
  <div class="form-group">
    <label for="hard_limits" class="control-label">Hard Limits</label> 
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-hand-stop-o"></i>
      </div> 
      <input id="hard_limits" name="hard_limits" placeholder="Write down the things you will not do at all here. " type="text" aria-describedby="hard_limitsHelpBlock" required="required" class="form-control">
    </div> 
    <span id="hard_limitsHelpBlock" class="help-block">You can not change this latter!</span>
  </div>
  <div class="form-group">
    <label for="dificulty" class="control-label">Task Difficulty</label> 
    <div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dificulty" value="1">
              Very Easy
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dificulty" value="2">
              Easy
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dificulty" value="3">
              Medium
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dificulty" value="4">
              Hard
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox">
          <input type="radio" name="dificulty" value="5">
              Very Hard
        </label>
      </div> 
      <span id="dificultyHelpBlock" class="help-block">How hard do you want your tasks to be?</span>
    </div>
  </div>
  <div class="form-group">
    <label for="bm_type" class="control-label">Blackmail Type</label> 
    <select id="bm_type" name="bm_type" aria-describedby="bm_typeHelpBlock" required="required" class="select form-control">
      <option value="none">None</option>
      <option value="unlock">Unlock</option>
      <option value="post">Post</option>
    </select> 
    <span id="bm_typeHelpBlock" class="help-block">This game offers 3 types of blackmail to ensure you do your task. (NONE) - no blackmail. (UNLOCK) - you will give a code or phase in the next box that the dom will only give you back when they are happy with you. This can be used for a chastity device or bondage. (POST) - In the next box you will add information that will be posted to the wall-of-shame on the discord server and website should piss off your dom enough. To add photos upload them elsewhere and put a link.</span>
  </div>
  <div class="form-group">
    <label for="b_data" class="control-label">Blackmail Data</label> 
    <textarea id="b_data" name="b_data" cols="40" rows="5" aria-describedby="b_dataHelpBlock" class="form-control"></textarea> 
    <span id="b_dataHelpBlock" class="help-block">Fill out this box as described by the option you picked in the last box.</span>
  </div>
  <div class="form-group">
    <label for="checkbox" class="control-label">Consent</label> 
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" name="checkbox" value="yes">
              I accept the <a href="/tos">tos</a>.
      </label> 
      <span id="checkboxHelpBlock" class="help-block">By checking this you consent to the TOS.</span>
    </div>
  </div> 
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Start Game</button>
  </div>
</form>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>No Session Active.</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>TSM v0.1 All rights reserved.</p>
</footer>

</body>
</html>
